.input-prepend .worked {
  background-color: red;
}

form .control-group .controls p {
  float: none;
}

.edit_time {
  float:right !important;
  border-bottom: 1px solid #cfcfcf;
}


#table_container {
  margin-top:20px
}

.container {
  margin-top:10px;
}
