body {
    /*background-color:rgb(220,227,234);*/
}

.input-prepend .worked {
  background-color: #b50708;
}

form .control-group .controls p {
  float: none;
}

.edit_time {
  float:right !important;
  border-bottom: 1px solid #cfcfcf;
}


#table_container {
  margin-top:20px
}

.container {
  margin-top:10px;
}

#tasks {
    background-color: white; 
    margin-top: 20px; 
    border-radius: 8px; 
    padding-left: 21px;
}

.highlight {
  color:#b50708;
}

.core {
  color: #3f3c5f;
}

#head {
  margin-left:15px;
  margin-top:12px;
}

.low {
  color:#1f1e30;
}
