<!doctype html>
<html lang='en'>
  <head>
    <title>Task Planner</title>
    <script src="js/jquery-1.7.2.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
  </head>
  <body>
  <div class="navbar">
      <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="#">Task Planner</a>
            </div>
          </div>
    </div>

      <div class="hero-unit">
          <h1>Plan your day</h1>
          <p>Reclaim your working day!</p>
        <p>
          <a href ='/plan/today' class="btn btn-primary btn-large">Plan Today</a> or <a href="">Choose a date</a>
        </p>
        </div> 
      

  </body>



</html>

